<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">
      My Notes
    </h3>
  </div>
  <div class="list-group">
    <a class="list-group-item" ng-click="c.selectNote(1)">
      <h4 class="list-group-item-heading">
        Note 1
      </h4>
      <p class="list-group-item-text">
        this is Note 1
      </p>
    </a>
    <a class="list-group-item" ng-click="c.selectNote(2)">
      <h4 class="list-group-item-heading">
        Note 2
      </h4>
      <p class="list-group-item-text">
        this is Note 2
      </p>
    </a>
    <a class="list-group-item" ng-click="c.selectNote(3)">
      <h4 class="list-group-item-heading">
        Note 3
      </h4>
      <p class="list-group-item-text">
        this is Note 3
      </p>
    </a>
    <a class="list-group-item">
      <h4 class="list-group-item-heading" ng-click="c.selectNote(4)">
        Note 4
      </h4>
      <p class="list-group-item-text">
        this is Note 4
      </p>
    </a>
  </div>
</div>


